:root > * {
    /* --fast2-color:#1A97A7;
    --md-primary-fg-color: var(--fast2-color);
    --md-primary-fg-color--light: var(--fast2-color);
    --md-primary-fg-color--dark: var(--fast2-color);

    --md-typeset-a-color: var(--fast2-color)!important; */
}

a.external-link:link::after {
    /* content: "" ; */
    /* content: "\e732" ; */
    /* display: inline-block; */
    /* font-family: themify; */
}

article > p {
    text-align:justify!important;
    font-weight: lighter;
}

strong {
    font-weight: bold;
    /* --tw-gradient-from: #EC008C; // rose */
    /* --tw-gradient-from: #8200ec; // violet */
    /* --tw-gradient-from: #ec0062; // rose darker */
    /* --tw-gradient-from: #0070f3; // bleu */
    --tw-gradient-from: #29b7dd; /* bleu */
    /* // --tw-gradient-to: #FFF200; // jaune */
    /* // --tw-gradient-to: #00d351; // vert */
    --tw-gradient-to: #2df3a0; /* vert */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, var(--tw-gradient-stops));
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(236, 0, 140, 0));
    /* // --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(51, 140, 245, 0)); */
}